{% include "home.html" %}

{% load staticfiles %}

<div>
    <p>
    <input type="text" id="load" ></input>
    <label for="amount">Z:</label>
    <table>
    <tr><td>
    <input type="text" id="amount" ></input>
    </td><td>
    <p id="btn_refresh" style="width: 50px; height: 20px; border: 1px; background: green; color: white;">refresh</p>
    </p>
    </td>
    </table>
    <table>
    <tr>
    <td>
        <div id="slider_div" style="height: 600px"></div>
    </td>
    <td>
    <table id='grid_table' style="background: gray; color: white;">
    </td>
    </tr>
    </table>

</table>
</div>

<link rel="stylesheet" href="{% static 'workflow_engine/css/job_grid.css' %}" />
<script src="{% static 'workflow_engine/javascript/job_grid.js' %}"></script>
