{% include "home.html" %}
{% load static %}

<div id='page_content'>
<div id='header_options'>
	{% include "number_of_records.html" %}
	<span class='header_buttons'>
		<span class='show_link' onclick="base_workflow.open_search_dialog('Jobs')">Search</span>
		<span class='show_link' onclick="base_workflow.run_all_jobs()">| Start All</span>
	</span>
</div>

<table id='wf_table'>

<tr>
	<th class="wf_th"><a class='sort_link' href="{{id_sort}}">id</a></th>
	<th class="wf_th"><a class='sort_link' href="{{enqueued_object_id_sort}}">enqueued_object_id</a></th>
	<th class="wf_th">enqueued_object</th>
	<th class="wf_th"><a class='sort_link' href="{{duration_sort}}">duration</a></th>
	<th class="wf_th">workflow</th>
	<th class="wf_th">job queue</th>
	<th class="wf_th">tasks</th>

	<th class="wf_th"><a class='sort_link' href="{{run_state_id_sort}}">run state</th>
	<th class="wf_th">start/kill</th>
	<th class="wf_th">logs</th>
	<th class="wf_th"></th>
	<th class="wf_th"></th>
	<th class="wf_th"></th>
</tr>

{% for record in records %}
	<tr class="wf_tr">
	<td class="wf_td class_job_id" id='{{record.id}}'>{{record.id}}</td>
	<td class="wf_td">{{record.enqueued_object_id}}</td>
	<td class="wf_td">{{record.get_enqueued_object}}</td>
	<td class="wf_td" id="duration_{{ record.id }}">{{record.get_duration}}</td>
	<td class="wf_td"><a class='link_to_page' href="/workflow_engine/workflows?workflow_ids={{ record.workflow_node.workflow.id }}">{{record.workflow_node.workflow.name}}</a></td>
	<td class="wf_td"><a class='link_to_page' href="/workflow_engine/job_queues?job_queue_ids={{ record.workflow_node.job_queue.id }}">{{record.workflow_node.job_queue.name}}</a></td>
	<td class="wf_td"><a class='link_to_page' href="/workflow_engine/tasks?job_id={{ record.id }}">Tasks({{record.number_of_tasks}})</a></td>
	<td class="wf_td {{record.get_color_class}}" id="job_state_{{ record.id }}">{{record.run_state.name}}</td>
	{% if record.can_rerun %}
		<td class="wf_td run_link" id="run_option_{{record.id}}"><img onclick="base_workflow.queue_job({{record.id}})" src="{% static 'workflow_engine/images/run.png' %}" alt="Run"/></td>
	{% else %}
		<td class="wf_td run_link" id="run_option_{{record.id}}"><img onclick="base_workflow.kill_job({{record.id}})" src="{% static 'workflow_engine/images/kill.png' %}" alt="Kill"/></td>
	{% endif %}
	<td class="wf_td"><a class='link_to_page' href="/workflow_engine/logs?job_id={{ record.id }}">View Logs</a></td>
	<td class="wf_td show_link" onclick="base_workflow.update_record('job', {{record.id}})">Update</td>
	<td class="wf_td show_link" onclick="base_workflow.delete_record('job', {{record.id}})"">Delete</td>
	<td class="wf_td show_link" onclick="base_workflow.set_show_dialog('Job', 'job', {{record.id}})">Show</td>
	</tr>
{% endfor %}

</table>
<div>

{% include "pagination.html" %}
{% include "search_dialog.html" %}

<script language="javascript">
	base_workflow.set_search_dialog('Jobs');
</script>
